# Pandas - Date and Time Handling

In [2]:
import pandas as pd

### Converting a String to a Datetime Object

The `to_datetime()` function converts string dates into datetime format.

In [5]:
date = '2025-01-30'
print(f"Original data type: {type(date)}")  # String type

date = pd.to_datetime(date)  # Convert to datetime
print(f"Converted data type: {type(date)}")  # Datetime object

Original data type: <class 'str'>
Converted data type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [10]:
# Extracting date components

print(f"Year: {date.year}")
print(f"Month: {date.month}")
print(f"Day: {date.day}")

Year: 2025
Month: 1
Day: 30

### Converting a List of Date Strings to Datetime Objects

In [13]:
list_dates = ['2020-10-12', '2021-12-12', '2022-03-25', '2023-04-05']
print(f"Original data type: {type(list_dates)}")

list_dates = pd.to_datetime(list_dates)  # Convert list of strings to datetime
print(f"Converted data type: {type(list_dates)}")

Original data type: <class 'list'>
Converted data type: <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [15]:
# Extract components

print(f"Years: {list_dates.year.tolist()}")  
print(f"Days: {list_dates.day.tolist()}")

Years: [2020, 2021, 2022, 2023]
Days: [12, 12, 25, 5]

### Converting a Column in a DataFrame to Datetime Objects

In [19]:
df = pd.DataFrame({'Dates': ['2020-10-12', '2021-12-12', '2022-03-25', '2023-04-05']})
df['Dates'] = pd.to_datetime(df['Dates'])  # Convert column to datetime
print(df)

       Dates
0 2020-10-12
1 2021-12-12
2 2022-03-25
3 2023-04-05

In [21]:
# Extracting hours (default is 0 if time isn't specified)

print(f"Hours: {df['Dates'].dt.hour.tolist()}")

Hours: [0, 0, 0, 0]

### Handling Date Formats with Different Separators

In [25]:
dt = '2020/12/12'
date = pd.to_datetime(dt, format='%Y/%m/%d')  # Explicit format specification
formatted_date = date.strftime('%Y-%m-%d')  # Convert to another format
print(f"Formatted Date: {formatted_date}")

Formatted Date: 2020-12-12

### Generating Date Ranges with `date_range()`

   This function generates sequences of dates with a specified frequency.

In [28]:
# Example: Generating a daily range from December 1, 2022, to February 13, 2023
dates = pd.date_range('2022-12-01', '2023-02-13', freq='D')  
print(dates)  

# Extracting specific date components
print(f"Day numbers: {dates.day.tolist()}")

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
               '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
               '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30', '2022-12-31', '2023-01-01',
               '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09',
               '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13',
               '2023-01-14', '2023-01-15', '2023-01-16', '2023-01-17',
               '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-21',
               '2023-01-22', '2023-01-23', '2023-01-24', '2023-01-25',
               '2023-01-26', '2023-01-27', '2023-01-28', '2023-01-29',
               '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02',
               '2023-02-03', '2023-02-04', '2023-02-05', '2023-02-06',
               '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-11', '2023-02-12', '2023-02-13'],
              dtype='datetime64[ns]', freq='D')
Day numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

### Formatting Dates with `strftime()`

   `strftime()` allows formatting datetime objects into readable strings.

In [31]:
date = pd.to_datetime('2023-12-13')

# Common date formats
formats = [
    ("%Y-%m-%d", "YYYY-MM-DD format"),
    ("%d/%m/%Y", "DD/MM/YYYY format"),
    ("%b %d, %Y", "Abbreviated month, day, and year"),
    ("%B %d, %Y", "Full month, day, and year"),
    ("%d-%b-%y", "DD-Abbreviated Month-YY format"),
]

for fmt, desc in formats:
    formatted_date = date.strftime(fmt)
    print(f"{desc}: {formatted_date}")

YYYY-MM-DD format: 2023-12-13
DD/MM/YYYY format: 13/12/2023
Abbreviated month, day, and year: Dec 13, 2023
Full month, day, and year: December 13, 2023
DD-Abbreviated Month-YY format: 13-Dec-23

### Working with Pandas Timestamps

In [ ]:
timestamp = pd.Timestamp('2020-12-16 12:12:54')
print(f"Timestamp: {timestamp}")

# Extracting components
print(f"Year: {timestamp.year}")
print(f"Month: {timestamp.month}")
print(f"Day: {timestamp.day}")
print(f"Hour: {timestamp.hour}")
print(f"Minute: {timestamp.minute}")
print(f"Second: {timestamp.second}")

### Converting Unix Timestamps to Datetime
    
    Unix timestamps represent seconds since January 1, 1970 (Epoch Time).

In [40]:
unix_time = 1704067200  # Unix timestamp for 2024-01-01 00:00:00
converted_time = pd.to_datetime(unix_time, unit='s')
print(f"Converted Datetime: {converted_time}")

Converted Datetime: 2024-01-01 00:00:00

### Calculating Date Differences (Time Deltas)

In [43]:
date1 = pd.to_datetime("2023-12-01")
date2 = pd.to_datetime("2023-12-25")

delta = date2 - date1  # Difference between two dates
print(f"Days between {date1.date()} and {date2.date()}: {delta.days} days")

Days between 2023-12-01 and 2023-12-25: 24 days

### Adding and Subtracting Time Periods

In [46]:
from pandas.tseries.offsets import Day, MonthEnd

today = pd.to_datetime("2023-12-01")

# Adding days
print(f"Today: {today.date()}")
print(f"After 7 days: {(today + Day(7)).date()}")

# Moving to the end of the month
print(f"Month-end: {(today + MonthEnd(0)).date()}")

Today: 2023-12-01
After 7 days: 2023-12-08
Month-end: 2023-12-31