# Python Fundamentals - Day 1

### Let's begin with the classic "Hello World" program

In [4]:
print("Hello World")

Hello World

### Variables

In [19]:
x = 3

In [23]:
print(x)

3

In [25]:
print(type(x)) # Checks the type of the variable x

<class 'int'>

In [27]:
del x # # Deletes the variable

## Operators

In [33]:
x, y = 5, 8.0

In [35]:
print(x + y)  
print(type(x + y))

13.0
<class 'float'>

In [39]:
# Using `_` in Python (works in interactive shells like REPL)
# `_` holds the result of the last executed expression
# Uncomment in REPL/interactive mode
print(_)

{"dataframes": [], "user": "bisss"}

## Boolean Operations

In [42]:
a = True
b = True
c = False

In [44]:
print(a and b) 
print(b and c)

True
False

## Rounding Numbers

In [47]:
print(round(4.5))        
print(round(4.5780, 3))   
print(round(4.5234, 3))  
print(round(4.6))

4
4.578
4.523
5

## divmod() Function

In [50]:
# divmod() function returns a tuple (quotient, remainder)
g = divmod(36, 5)
print(g)        
print(type(g))   
print(g[0])

(7, 1)
<class 'tuple'>
7

## isinstance() Function

In [55]:
#Checks the type of a variable
print(isinstance(3, str))   
print(isinstance(4.0, float))

False
True

##  pow() Function

In [58]:
print(pow(2, 4, 9)) #2 raised to 4, modulo 9

7

In [60]:
# Taking user input for power calculation
a = int(input("Enter any number: "))
b = int(input("Enter the power of the given number: "))
print("The power of the given number is", pow(a, b))

Enter any number:  5
Enter the power of the given number:  2

The power of the given number is 25

## help() Function

In [67]:
#  help() function provides information about Python functions
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

## Control Flow

In [71]:
# Example 1: Comparing two numbers
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

if a > b:
    print("a is greater")
elif b > a:
    print("b is greater")
else:
    print("a and b are equal")

Enter the value of a:  2
Enter the value of b:  5

b is greater

In [73]:
# Example 2: Checking natural numbers and parity
a = int(input("Enter any number: "))

if a > 0:
    print("Number is a natural number")
    if a % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
else:
    print("Number is not a natural number (itâ€™s a whole number)")

Enter any number:  4

Number is a natural number
Number is even

In [75]:
# Using math module with control flow
import math

a = float(input("Enter any number: "))
value = math.floor(a)  # Rounds the number down to the nearest integer
print(f"The floor value of {a} is {value}")

if value % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter any number:  3.67

The floor value of 3.67 is 3
Number is odd

## Loops in Python

In [78]:
# While loop to calculate the sum of numbers
n = int(input("Enter any number: "))
i = 1
sum = 0
while n >= i:
    print(i)  
    sum += i 
    i += 1    

print(f"The total sum is: {sum}")

Enter any number:  5

1
2
3
4
5
The total sum is: 15

In [80]:
# For loop example: Iterating and creating a list
L = []

for i in range(0, 10, 2):  
    print(i + 1)          
    L.append(i ** 2)      

print(L)  
print(type(L))

1
3
5
7
9
[0, 4, 16, 36, 64]
<class 'list'>

In [84]:
# Iterating over a set
s = {"Apple", "Banana", "Litchi"}

for i in s:
    print(i)

Apple
Litchi
Banana

In [86]:
# Iterating over a dictionary
d = {"name": "Ram", "age": 12}

for key in d:
    print(key, d[key])

name Ram
age 12

## Functions in Python

In [90]:
# Example 1: A simple function with a docstring
def printMyName(name):
    """
    This function takes one argument and prints it as a name.
    Signature: printMyName(name)
    """
    print("My name is", name)

printMyName(input("Enter your name: "))

Enter your name:  ram

My name is ram

In [92]:
# Example 2: Function with arbitrary arguments (*args)
def sumFn(*args):
    """
    This function takes any number of arguments and calculates their sum.
    Signature: sumFn(*args)
    """
    total = 0
    for i in args:
        total += i
    print(f"The total sum is: {total}")

sumFn(1, 2, 3, 4, 5)

The total sum is: 15

## Strings in Python

In [95]:
# Strings are immutable sequences of characters. Python provides many methods to manipulate strings.
s = "   Hello this is   me    "
print(s.strip())  # Removing whitespace from the beginning and end

Hello this is   me

In [97]:
print(s.upper()) # Converting string to uppercase

   HELLO THIS IS   ME

In [99]:
print(s.replace("Hello", "Hi")) # Replacing substrings

   Hi this is   me

In [101]:
string = "This,is,my,name,what's,yours?" # Splitting strings into a list based on a delimiter
print(string.split(","))

['This', 'is', 'my', 'name', "what's", 'yours?']

In [103]:
# Checking substring presence
string = "Hi ram it's shyam"
if "ram" not in string:
    print("Yes, 'ram' is not in the string")
else:
    print("No, 'ram' is in the string")

No, 'ram' is in the string

## Data Structures in Python

In [107]:
# 1 List: Mutable, ordered, and allows duplicate elements
L = [1, 2, 3, 4, "Ram"]

# Accessing elements
print(L[3])

4

In [109]:
# Slicing and reversing
print("Value of List:", L[1:3], L[::-1])

Value of List: [2, 3] ['Ram', 4, 3, 2, 1]

In [113]:
# Adding elements
L = L + ['How', 'Are', 'You']  # Concatenation
L.append("69") 
L

[1, 2, 3, 4, 'Ram', 'How', 'Are', 'You', '69', 'How', 'Are', 'You', '69']

In [115]:
# 2. Tuple: Immutable, ordered, and allows duplicate elements
T = ("Ram", 1, 2, 3, 4)

# Accessing elements
print(T[2])

2

In [117]:
# Tuples are immutable, but concatenation creates a new tuple
T2 = ("Shyam", "Hari")
T3 = T + T2
print(T3)

('Ram', 1, 2, 3, 4, 'Shyam', 'Hari')

In [119]:
# 3. Set: Mutable, unordered, and does not allow duplicate elements
S = {"Ram", "Hari", "Shyam"}

print("Hari" in S)

True

In [121]:
# Adding and updating elements
S.add(55)  # Adds a single element
S.update({"Sita", "Gita"})  # Adds multiple elements
print(S)

{'Shyam', 'Sita', 55, 'Gita', 'Hari', 'Ram'}

In [123]:
# Removing elements
S.remove("Shyam")  # Removes "Shyam" if it exists
print(S)

{'Sita', 55, 'Gita', 'Hari', 'Ram'}

In [125]:
# 4. Dictionary: Mutable, unordered, stores data in key-value pairs
D = {"Name": "Ram", "Age": 12}

# Accessing elements by key
print(D["Age"])

12

In [127]:
# Adding or updating elements
D2 = {"Obj": "True"}
D.update(D2)  # Merges D2 into D
print(D)

{'Name': 'Ram', 'Age': 12, 'Obj': 'True'}