# Pandas â€“ Comparison Operations, Aggregation, and Series Methods

### Comparison Operations in Pandas Series

In [3]:
import pandas as pd

# Creating two Pandas Series
sr1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr2 = pd.Series([2, 2, 5, 3, 1, 5, 7, 5, 9, 11])

In [5]:
# Element-wise comparisons

print(sr1 == sr2)  
print(sr1[sr1 > sr2]) 
print(sr1[sr1 != sr2])  
print(sr1[sr1 >= sr2])

0    False
1     True
2    False
3    False
4    False
5    False
6     True
7    False
8     True
9    False
dtype: bool
3    4
4    5
5    6
7    8
dtype: int64
0     1
2     3
3     4
4     5
5     6
7     8
9    10
dtype: int64
1    2
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

###  Aggregation Functions in Series

Aggregation is the process of summarizing multiple values into a single value

In [12]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print(s.mean())  
print(s.min())  
print(s.count())  
print(s.sum())

5.0
0
11
55

### Filtering Data in Pandas Series

Filtering: Selecting a subset of data based on a condition

In [15]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
filtered = s[s > 5]

In [19]:
print(filtered.mean()) 
print(s.loc[filtered.index].count())  # Count of filtered values

8.0
5

### Series Attributes

In [22]:
dict_data = {"Name": "Ram", "Age": 23, "Subjects": ["Eng", "Math", "Sci"]}
s = pd.Series(dict_data)

# Accessing a specific key
print(s['Subjects'])

['Eng', 'Math', 'Sci']

### Index attributes

In [25]:
print(s.index)  
s_with_index = pd.Series(dict_data, index=['A', 'B', 'C'])
print(f"Defined index: {s_with_index.index}")

Index(['Name', 'Age', 'Subjects'], dtype='object')
Defined index: Index(['A', 'B', 'C'], dtype='object')

In [27]:
# Other attributes

print(s.size)  # Total number of elements
print(s.info)  # Information about the Series

3
<bound method Series.info of Name                     Ram
Age                       23
Subjects    [Eng, Math, Sci]
dtype: object>

In [31]:
# Checking uniqueness and monotonicity

s1 = pd.Series([2, 2, 5, 4, 5])

print(s1.is_unique)  # Checks if all values are unique
print(s1.is_monotonic_increasing)  # Checks if values are in increasing order
print(s1.is_monotonic_decreasing)  # Checks if values are in decreasing order

False
False
False

### Series Methods

In [34]:
# head() - Returns the first n elements (default is 5)

s1 = pd.Series([2, 2, 5, 4, 5, 6, 7, 8, 9])
print(s1.head())  # First 5 elements
print(s1.head(3))  # First 3 elements

0    2
1    2
2    5
3    4
4    5
dtype: int64
0    2
1    2
2    5
dtype: int64

In [36]:
# tail() - Returns the last n elements

print(s1.tail())  # Last 5 elements
print(s1.tail(3))  # Last 3 elements

4    5
5    6
6    7
7    8
8    9
dtype: int64
6    7
7    8
8    9
dtype: int64

In [38]:
# describe() - Summary statistics (min, max, mean, std, etc.)

s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(s.describe())

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [40]:
# info() - Returns metadata (data type, non-null count)

print(s.info())

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes
None

In [42]:
# unique() - Returns unique values in the Series

s1 = pd.Series([2, 4, 5, 6, 7, 78, 9, 10, 2, 4])
print(s1.unique())

[ 2  4  5  6  7 78  9 10]

In [44]:
# value_counts() - Counts occurrences of each unique value

print(s1.value_counts())

2     2
4     2
5     1
6     1
7     1
78    1
9     1
10    1
Name: count, dtype: int64

In [46]:
# sort_values() - Sorts elements in ascending/descending order

print(s1.sort_values())  # Ascending order
print(s1.sort_values(ascending=False))  # Descending order

0     2
8     2
1     4
9     4
2     5
3     6
4     7
6     9
7    10
5    78
dtype: int64
5    78
7    10
6     9
4     7
3     6
2     5
1     4
9     4
0     2
8     2
dtype: int64

In [48]:
# apply() - Applies a function to each element in the Series

def add_five(x):
    return x + 5

print(s1.apply(add_five))  # Adds 5 to each element

0     7
1     9
2    10
3    11
4    12
5    83
6    14
7    15
8     7
9     9
dtype: int64

### Handling Missing Data in Pandas

In [51]:
# fillna() - Fills missing values with a specified value

s1 = pd.Series([2, None, 5, 6, 7, None, 9, None, 2, 4])
print(s1.fillna(0))  # Replace NaN with 0

0    2.0
1    0.0
2    5.0
3    6.0
4    7.0
5    0.0
6    9.0
7    0.0
8    2.0
9    4.0
dtype: float64

In [55]:
# dropna() - Drops missing values

print(s1.dropna())

0    2.0
2    5.0
3    6.0
4    7.0
6    9.0
8    2.0
9    4.0
dtype: float64

In [57]:
# drop() - Drops specific elements by index

s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(s1.drop([2, 4]))  # Removes elements at index 2 and 4

0     1
1     2
3     4
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Concatenation of Series

In [60]:
# Combining two Series into one

s1 = pd.Series([1, 3, 6, 8, 10])
s2 = pd.Series([2, 4, 5, 7, 9])

In [62]:
new_series = pd.concat([s1, s2])
print(new_series)  # Combines both series

0     1
1     3
2     6
3     8
4    10
0     2
1     4
2     5
3     7
4     9
dtype: int64

In [64]:
# Resetting index after concatenation

new_series_reset = pd.concat([s1, s2], ignore_index=True)
print(new_series_reset)  # Index is reset

0     1
1     3
2     6
3     8
4    10
5     2
6     4
7     5
8     7
9     9
dtype: int64