# DataFrame in Pandas

A DataFrame is a two-dimensional labeled data structure with rows and columns, similar to a table in databases or an Excel spreadsheet.

In [4]:
import pandas as pd

In [6]:
# Creating an Empty DataFrame

print("Empty DataFrame:")
df = pd.DataFrame()  
print(df)

Empty DataFrame:
Empty DataFrame
Columns: []
Index: []

In [8]:
# 1️ Creating a DataFrame from a List of Lists

print("\nDataFrame from a List of Lists:")
df = pd.DataFrame([['Ram', 40], ['Shyam', 50], ['Hari', 60], ['Gita', 80]], columns=['Name', 'Marks'])
print(df)

DataFrame from a List of Lists:
    Name  Marks
0    Ram     40
1  Shyam     50
2   Hari     60
3   Gita     80

In [10]:
# 2️ Creating a DataFrame from a Dictionary of Lists

print("\nDataFrame from a Dictionary of Lists:")
d = {"Name": ["Ram", "Shyam", "Hari"], "Age": [21, 24, 25], "Grade": ["A", "A+", "B+"]}
df = pd.DataFrame(d)
print(df)

DataFrame from a Dictionary of Lists:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [12]:
# 3️ Creating a DataFrame from a List of Dictionaries

print("\nDataFrame from a List of Dictionaries:")
d = [
    {"Name": "Ram", "Age": 21},
    {"Name": "Shyam", "Age": 24},
    {"Name": "Hari", "Age": 25}
]
df = pd.DataFrame(d)
print(df)

DataFrame from a List of Dictionaries:
    Name  Age
0    Ram   21
1  Shyam   24
2   Hari   25

In [14]:
# 4️ Creating a DataFrame from a Dictionary of Series

print("\nDataFrame from a Dictionary of Series:")
d = {
    'Name': pd.Series(["Ram", "Shyam", "Hari"]),
    'Age': pd.Series([21, 24, 25]),
    'Grade': pd.Series(["A", "A+", "B+"])
}
df = pd.DataFrame(d)
print(df)

DataFrame from a Dictionary of Series:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

### Selecting, Adding, and Deleting Columns

In [16]:
print("\nSelecting, Adding, and Deleting Columns")
d = {"Name": ["Ram", "Shyam", "Hari"], "Age": [21, 24, 25], "Grade": ["A", "A+", "B+"]}
df = pd.DataFrame(d)
print("Original DataFrame:")
print(df)

Selecting, Adding, and Deleting Columns
Original DataFrame:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [19]:
# Selecting a single column

print("\nSelecting 'Grade' column:")
print(df['Grade'])

Selecting 'Grade' column:
0     A
1    A+
2    B+
Name: Grade, dtype: object

In [21]:
# Selecting multiple columns

print("\nSelecting 'Name' and 'Grade' columns:")
print(df[['Name', 'Grade']])

Selecting 'Name' and 'Grade' columns:
    Name Grade
0    Ram     A
1  Shyam    A+
2   Hari    B+

In [23]:
# Adding a new column

print("\nAdding a new column 'Course':")
df['Course'] = ['BCA', 'BBS', 'BE']
print(df)

Adding a new column 'Course':
    Name  Age Grade Course
0    Ram   21     A    BCA
1  Shyam   24    A+    BBS
2   Hari   25    B+     BE

In [25]:
# Deleting a column

print("\nDeleting 'Course' column:")
df = df.drop('Course', axis=1)  # axis=1 means column-wise operation
print(df)

Deleting 'Course' column:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

### Selecting, Adding, and Deleting Rows

In [28]:
print("\nSelecting, Adding, and Deleting Rows")
d = {"Name": ["Ram", "Shyam", "Hari"], "Age": [21, 24, 25], "Grade": ["A", "A+", "B+"]}
df = pd.DataFrame(d)
print("Original DataFrame:")
print(df)

Selecting, Adding, and Deleting Rows
Original DataFrame:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [30]:
# Selecting a row using .loc[]

print("\nSelecting the first row using .loc[]:")
print(df.loc[0])

Selecting the first row using .loc[]:
Name     Ram
Age       21
Grade      A
Name: 0, dtype: object

In [32]:
# Adding a new row using .loc[]

print("\nAdding a new row:")
df.loc[len(df)] = {"Name": "Gita", "Age": 24, "Grade": "B"}  # Adds at the next available index
print(df)

Adding a new row:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+
3   Gita   24     B

In [34]:
# Adding a new row at a specific index

print("\nAdding a new row at index 5:")
df.loc[5] = {"Name": "Gita", "Age": 24, "Grade": "B"}  # Manually setting an index
print(df)

Adding a new row at index 5:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+
3   Gita   24     B
5   Gita   24     B

In [36]:
# Deleting a row

print("\nDeleting the row at index 0:")
df = df.drop(0)
print(df)

Deleting the row at index 0:
    Name  Age Grade
1  Shyam   24    A+
2   Hari   25    B+
3   Gita   24     B
5   Gita   24     B

### Indexing and Slicing in DataFrame

In [39]:
print("\nIndexing and Slicing in DataFrame")
d = {"Name": ["Ram", "Shyam", "Hari"], "Age": [21, 24, 25], "Grade": ["A", "A+", "B+"]}
df = pd.DataFrame(d)
print("Original DataFrame:")
print(df)

Indexing and Slicing in DataFrame
Original DataFrame:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [41]:
# Selecting a row using .loc[] (label-based indexing)

print("\nSelecting a row using .loc[]:")
print(df.loc[1])

Selecting a row using .loc[]:
Name     Shyam
Age         24
Grade       A+
Name: 1, dtype: object

In [43]:
# Selecting specific values using .iloc[] (position-based indexing)

print("\nSelecting specific values (rows: 0-2, column: 1) using .iloc[]:")
print(df.iloc[0:2, 1])

Selecting specific values (rows: 0-2, column: 1) using .iloc[]:
0    21
1    24
Name: Age, dtype: int64

### Arithmetic Operations

In [46]:
print("\nPerforming Arithmetic Operations on 'Age' Column")
print("Before Addition:")
print(df)

Performing Arithmetic Operations on 'Age' Column
Before Addition:
    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [48]:
df['Age'] += 5  # Incrementing 'Age' column values by 5
print("After Addition:")
print(df)

After Addition:
    Name  Age Grade
0    Ram   26     A
1  Shyam   29    A+
2   Hari   30    B+

### Comparison Operations

In [51]:
print("\nPerforming Comparison Operations")
print("Original DataFrame:")
print(df)

Performing Comparison Operations
Original DataFrame:
    Name  Age Grade
0    Ram   26     A
1  Shyam   29    A+
2   Hari   30    B+

In [53]:
# Checking if values in 'Age' column are greater than 29

print("\nChecking which ages are greater than 29:")
print(df['Age'] > 29)

Checking which ages are greater than 29:
0    False
1    False
2     True
Name: Age, dtype: bool

In [55]:
# Filtering rows where 'Age' is equal to 30

print("\nFiltering rows where 'Age' is equal to 30:")
print(df[df['Age'] == 30])

Filtering rows where 'Age' is equal to 30:
   Name  Age Grade
2  Hari   30    B+

In [57]:
### Aggregation Operations

print("\nPerforming Aggregation Operations")
print("Mean Age:", df['Age'].mean())  # Mean (Average) of 'Age' column
print("Total Age Sum:", df['Age'].sum())  # Sum of 'Age' column
print("Number of Entries in Age Column:", df['Age'].count())  # Count of non-null values in 'Age'

Performing Aggregation Operations
Mean Age: 28.333333333333332
Total Age Sum: 85
Number of Entries in Age Column: 3