# Working with Pandas Series

 Creating a Series in Pandas (4 Methods)

In [6]:
import pandas as pd

In [8]:
# 1 Direct Method (General Way)

sr = pd.Series([1, 2, 3, 4, 5])  # Creating a simple series with numerical values
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
# 2️ List Method (Using a Python List)

listVar = ['Ram', 'Hari', 'Shyam']  
sr = pd.Series(listVar)  # Converting list into a Pandas Series
print(sr)

0      Ram
1     Hari
2    Shyam
dtype: object

In [16]:
# 3️⃣ Tuple Method (Using a Tuple)

tupleVar = ('Ram', 'Hari', 'Shyam') 
sr = pd.Series(tupleVar)  # Converting tuple into a Pandas Series
print(sr)

0      Ram
1     Hari
2    Shyam
dtype: object

In [14]:
# 4️⃣ Dictionary Method (Using a Dictionary)

dictVar = {
    'Name': 'Gita', 
    'Sub': ['Eng', 'Math', 'Comp'],  # A list inside a dictionary
    'Age': 20
}  
sr = pd.Series(dictVar)  # Creating a Series from dictionary keys and values
print(sr)

Name                 Gita
Sub     [Eng, Math, Comp]
Age                    20
dtype: object

#  Indexing in Pandas Series

In [19]:
# Creating a Series with custom labels for indexing

sr = pd.Series(['Ram', 'Shyam', 'GhanShyam'], index=['A', 'B', 'C'])
print(sr)

A          Ram
B        Shyam
C    GhanShyam
dtype: object

In [23]:
# Using .loc[] for Label-Based Indexing

print(sr.loc['A'])  # Accessing a single element by label
print(sr.loc[['A', 'C']])  # Accessing multiple elements by labels
print(sr.loc['A':'C'])  # Accessing a range of elements using labels

Ram
A          Ram
C    GhanShyam
dtype: object
A          Ram
B        Shyam
C    GhanShyam
dtype: object

In [25]:
# Using .iloc[] for Position-Based Indexing

print(sr.iloc[0])  # Accessing a single element by index position
print(sr.iloc[[0, 2]])  # Accessing multiple elements using index positions
print(sr.iloc[0:2])  # Accessing a range of elements using index positions

Ram
A          Ram
C    GhanShyam
dtype: object
A      Ram
B    Shyam
dtype: object

#  Boolean Indexing (Filtering Elements Based on Conditions)

In [28]:
# Creating a numerical Series

sr = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [30]:
print(sr[sr % 2 == 0])  # Returns only even numbers

1     2
3     4
5     6
7     8
9    10
dtype: int64

In [34]:
print(sr[sr > 5])  # Returns numbers that are greater than 5

5     6
6     7
7     8
8     9
9    10
dtype: int64

In [36]:
print(sr[sr == 11])  # Returns an empty Series as 11 is not in the Series

Series([], dtype: int64)

# Testing: Understanding the Behavior of iloc[]

In [41]:
df = pd.Series(['Ram', 'Shyam', 'Ghanshyam', 'Hari', 'Raman'], index=['A', 'B', 'C', 'D', 'E'])

# 🔍 Regardless of custom index labels, iloc[] always works based on index position
print(df.iloc[0:3])  # Extracts the first three elements

A          Ram
B        Shyam
C    Ghanshyam
dtype: object

# Slicing in Series (Extracting Subsets)

In [46]:
# Creating a sample Series

sr = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print("Original Series:")
print(sr)

Original Series:
a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [48]:
# Slicing using conditions

print("\nElements greater than 2:")
print(sr[sr > 2])

Elements greater than 2:
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [50]:
print("\nFirst five elements:")
print(sr[:5])

First five elements:
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [54]:
# Slicing using .loc[] (Label-based indexing)

print("\nSlicing with .loc[]:")
print(sr.loc['b':'d'])  # Selecting values from index 'b' to 'd'

Slicing with .loc[]:
b    2
c    3
d    4
dtype: int64

In [58]:
# Slicing using .iloc[] (Index-based slicing)

print("\nSlicing with .iloc[]:")
print(sr.iloc[2:4])  # Selecting elements at index positions 2 to 3
print(sr.iloc[0:3])  # Selecting first three elements

Slicing with .iloc[]:
c    3
d    4
dtype: int64
a    1
b    2
c    3
dtype: int64

# Arithmetic Operations on Series

In [63]:
# Creating two sample Series
sr1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
sr2 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print("\nSeries 1:")
print(sr1)
print("\nSeries 2:")
print(sr2)

Series 1:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Series 2:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [75]:
# Addition
print("\nAddition using `+` operator:")
print(sr1 + sr2)

"""
Can be done like this as well

print("\nAddition using `add()` method:")
print(sr1.add(sr2))
"""

Addition using `+` operator:
0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

'\nCan be done like this as well\n\nprint("\nAddition using `add()` method:")\nprint(sr1.add(sr2))\n'

In [73]:
# Subtraction
print("\nSubtraction using `-` operator:")
print(sr1 - sr2)

"""
Can be done like this as well

print("\nSubtraction using `sub()` method:")
print(sr1.sub(sr2))
"""

Subtraction using `-` operator:
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

'\nCan be done like this as well\n\nprint("\nSubtraction using `sub()` method:")\nprint(sr1.sub(sr2))\n'

In [77]:
# Multiplication
"""
Can be done like this as well

print("\nMultiplication using `*` operator:")
print(sr1 * sr2)
"""

print("\nMultiplication using `mul()` method:")
print(sr1.mul(sr2))

Multiplication using `mul()` method:
0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [79]:
# Division
"""
Can be done like this as well

print("\nDivision using `/` operator:")
print(sr1 / sr2)
"""

print("\nDivision using `div()` method:")
print(sr1.div(sr2))

Division using `div()` method:
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64