# Introduction to Pandas â€“ Basics and its Core Data Structures

    What is Pandas?

 - Pandas is an open-source Python library used for data manipulation and analysis.
 - It provides easy-to-use data structures and operations for handling structured data seamlessly.

   Where can we use Pandas?

 - Data analysis and manipulation.
 - Cleaning, transforming, and organizing datasets.
 - Working with structured data like CSV, Excel, SQL databases, and JSON.

  What can we do with Pandas?

- Perform operations like filtering, grouping, merging, reshaping, and more.
- Handle missing data effectively.
- Support for time-series data.

In [13]:
# Install Pandas in Jupyter Notebook:

! pip install pandas

Requirement already satisfied: pandas in c:\users\bisss\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bisss\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bisss\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bisss\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bisss\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\bisss\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [32]:
import pandas as pd
import numpy as np

In [17]:
# Converting a Python list to a Pandas Series

lst = [1, 2, 3, 4, 5]
series = pd.Series(lst)
print("Pandas Series from List:")
print(series)

Pandas Series from List:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
print("\nSeries Data Type:")
print(series.dtype)  # Shows the data type of the Series

Series Data Type:
int64

# Data Structures in Pandas

   Types of data structures in Pandas:

 - Series: One-dimensional labeled array capable of holding data of any type.
 - DataFrame: Two-dimensional labeled data structure with columns of potentially different types.
 - Panel: Three-dimensional data structure (deprecated in the latest Pandas versions).

### Series: A Simple One-Dimensional Array

In [34]:
# Creating a Series with integers

sr = pd.Series([1, 2, 3, 4, 5])
print("\nSeries with Integer Data:")
print(sr.astype(np.uint8))  # Converting data type to unsigned 8-bit integer

Series with Integer Data:
0    1
1    2
2    3
3    4
4    5
dtype: uint8

In [36]:
# Creating a Series with strings

sr = pd.Series(['Ram', 'Shyam', 'Hari', 'GhanShyam'])
print("\nSeries with String Data:")
print(sr)

Series with String Data:
0          Ram
1        Shyam
2         Hari
3    GhanShyam
dtype: object

In [38]:
# Creating a Series from a tuple

tuple_var = ('Ram', 'Shyam', 'Hari', 'GhanShyam')
sr = pd.Series(tuple_var)
print("\nSeries from Tuple:")
print(sr)

Series from Tuple:
0          Ram
1        Shyam
2         Hari
3    GhanShyam
dtype: object

### DataFrame: A Two-Dimensional Labeled Data Structure

In [43]:
# Creating a simple DataFrame

df = pd.DataFrame({
    'Name': ['Rama', 'Sita', 'Gita'],
    'Age': [21, 24, 25],
    'Subject': ['Math', 'Science', 'English']
})
print("\nSimple DataFrame Example:")
print(df)

Simple DataFrame Example:
   Name  Age  Subject
0  Rama   21     Math
1  Sita   24  Science
2  Gita   25  English

### Panel: A Three-Dimensional Data Structure (Deprecated)

 - The `Panel` data structure was removed in Pandas version 0.20.0.
 - Alternatives like multi-index DataFrames or xarray library are recommended.

In [46]:
# Example of creating a multi-index DataFrame to mimic Panel functionality

df1 = pd.DataFrame({
    'Name': ['Rama', 'Sita', 'Gita'],
    'Age': [21, 24, 25],
    'Subject': ['Math', 'Science', 'English']
})

In [48]:
df2 = pd.DataFrame({
    'Name': ['Ram', 'Sitaram', 'Gitaraman'],
    'Age': [23, 22, 23],
    'Subject': ['Math', 'Science', 'English']
})

In [50]:
# Concatenating DataFrames with keys to simulate a Panel-like structure

df_panel_like = pd.concat({'df1': df1, 'df2': df2})
print("\nPanel-Like Multi-Index DataFrame:")
print(df_panel_like)

Panel-Like Multi-Index DataFrame:
            Name  Age  Subject
df1 0       Rama   21     Math
    1       Sita   24  Science
    2       Gita   25  English
df2 0        Ram   23     Math
    1    Sitaram   22  Science
    2  Gitaraman   23  English