# Aggregation in DataFrame

In [2]:
import pandas as pd

# Aggregation helps summarize data (e.g., mean, sum, count)

d = {"Name": ["Ram", "Shyam", "Hari"], "Age": [21, 24, 25], "Grade": ["A", "A+", "B+"]}
df = pd.DataFrame(d)
print(df)

    Name  Age Grade
0    Ram   21     A
1  Shyam   24    A+
2   Hari   25    B+

In [4]:
# Calculate Aggregations

print("Mean Age:", df['Age'].mean()) 
print("Total Age Sum:", df['Age'].sum()) 
print("Total Count:", df['Age'].count())

Mean Age: 23.333333333333332
Total Age Sum: 70
Total Count: 3

# Filtering in DataFrame

In [7]:
# Filtering records based on conditions

# Select people older than 28
greater_age = df[df['Age'] > 28]
print("People older than 28:\n", greater_age)

People older than 28:
 Empty DataFrame
Columns: [Name, Age, Grade]
Index: []

In [9]:
# Select people with highest Grade "A+"
highest_grade = df[df['Grade'] == 'A+']
print("Students with A+ grade:\n", highest_grade)

Students with A+ grade:
     Name  Age Grade
1  Shyam   24    A+

# Handling Missing Data

In [14]:
# Missing values can cause errors in analysis

d = {
    "Name": ["Ram", "Shyam", None],
    "Age": [12, None, 18],
    "Subject": ["Math", "Science", None]
}
df = pd.DataFrame(d)
print("DataFrame with Missing Values:\n", df)

DataFrame with Missing Values:
     Name   Age  Subject
0    Ram  12.0     Math
1  Shyam   NaN  Science
2   None  18.0     None

In [16]:
# Fill missing values with a default value (e.g., "Hari")

df_filled = df.fillna("Hari")
print("After Filling Missing Values:\n", df_filled)

After Filling Missing Values:
     Name   Age  Subject
0    Ram  12.0     Math
1  Shyam  Hari  Science
2   Hari  18.0     Hari

# Joining DataFrames

In [19]:
# Merging datasets (used in real-world analytics)

d1 = {"Name": ["Ram", "Shyam"], "Age": [12, 18]}
df1 = pd.DataFrame(d1)
print("DataFrame 1:\n", df1)

DataFrame 1:
     Name  Age
0    Ram   12
1  Shyam   18

In [21]:
d2 = {"Subject": ["Math", "Science"]}
df2 = pd.DataFrame(d2)
print("DataFrame 2:\n", df2)

DataFrame 2:
    Subject
0     Math
1  Science

In [23]:
# Joining DataFrames by index

df_joined = df1.join(df2)
print("Joined DataFrame:\n", df_joined)

Joined DataFrame:
     Name  Age  Subject
0    Ram   12     Math
1  Shyam   18  Science

# Sorting Data

In [26]:
# Sorting values based on column

d = {
    "Name": ["Hari", "Shyam", "Ram"],
    "Age": [12, 14, 18],
    "Subject": ["Math", "Science", "Anthropology"]
}
df = pd.DataFrame(d)
print("Sorted by Age Descending:\n", df.sort_values(by="Age", ascending=False))

Sorted by Age Descending:
     Name  Age       Subject
2    Ram   18  Anthropology
1  Shyam   14       Science
0   Hari   12          Math

# Exploring DataFrame Attributes

In [29]:
print("\tIndex\n", df.index)  
print("\tColumns\n", df.columns)  
print("\tValues\n", df.values)  
print("\tShape\n", df.shape)  
print("\tData Types\n", df.dtypes)  
print("\tEmpty DataFrame?\n", df.empty)  
print("\tNo of Dimensions\n", df.ndim)

	Index
 RangeIndex(start=0, stop=3, step=1)
	Columns
 Index(['Name', 'Age', 'Subject'], dtype='object')
	Values
 [['Hari' 12 'Math']
 ['Shyam' 14 'Science']
 ['Ram' 18 'Anthropology']]
	Shape
 (3, 3)
	Data Types
 Name       object
Age         int64
Subject    object
dtype: object
	Empty DataFrame?
 False
	No of Dimensions
 2

In [31]:
# Head and Tail Methods

In [35]:
print("First two rows:\n", df.head(2))  
df.tail(1)

First two rows:
     Name  Age  Subject
0   Hari   12     Math
1  Shyam   14  Science

  Name  Age       Subject
2  Ram   18  Anthropology

In [37]:
# Describe and Info Methods
print("Statistical Summary:\n", df.describe())  # Get summary statistics
print("Info about DataFrame:\n")
df.info()

Statistical Summary:
              Age
count   3.000000
mean   14.666667
std     3.055050
min    12.000000
25%    13.000000
50%    14.000000
75%    16.000000
max    18.000000
Info about DataFrame:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Age      3 non-null      int64
 2   Subject  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

# dropna() - Removing Missing Data

In [40]:
# Drop rows containing NaN values

In [42]:
d = {
    "Name": ["Hari", "Shyam", None],
    "Age": [12, 14, 18],
    "Subject": ["Math", None, "Anthropology"]
}
df_with_null = pd.DataFrame(d)
df_no_null = df_with_null.dropna()
print("DataFrame After Dropping NaN:\n", df_no_null)

DataFrame After Dropping NaN:
    Name  Age Subject
0  Hari   12    Math

# fillna() - Replacing Missing Data

In [45]:
# Replace NaN with a default value

df_filled = df_with_null.fillna(0)
print("After fillna(0):\n", df_filled)

After fillna(0):
     Name  Age       Subject
0   Hari   12          Math
1  Shyam   14             0
2      0   18  Anthropology

# Apply Function - Transforming Data

In [50]:
# Apply a function to modify column values

def multiply_by_five(x):
    return x * 5

d = {
    "Name": ["Hari", "Shyam", None],
    "Age": [12, 14, 18],
    "Subject": ["Math", None, "Anthropology"]
}
df = pd.DataFrame(d)
age_multiplied = df['Age'].apply(multiply_by_five)
print("Age multiplied by 5:\n", age_multiplied)

Age multiplied by 5:
 0    60
1    70
2    90
Name: Age, dtype: int64

# Real-World Use Case - Merging Data

In [53]:
# Example: Combining Customer Info with Purchase History

customers = {
    "Customer_ID": [1, 2, 3],
    "Name": ["Alice", "Bob", "Charlie"],
    "Location": ["NY", "LA", "TX"]
}
df_customers = pd.DataFrame(customers)

transactions = {
    "Customer_ID": [1, 2, 2, 3],
    "Amount": [250, 120, 300, 450]
}
df_transactions = pd.DataFrame(transactions)

# Merge customer info with transactions
merged_df = pd.merge(df_customers, df_transactions, on="Customer_ID", how="inner")
print("Merged Customer Transactions:\n", merged_df)

Merged Customer Transactions:
    Customer_ID     Name Location  Amount
0            1    Alice       NY     250
1            2      Bob       LA     120
2            2      Bob       LA     300
3            3  Charlie       TX     450